body {
    padding: 20px;
    background-color: #f8f9fa; 
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

button {
    width: 100%;
}


.table-responsive {
    overflow-x: auto;
}


.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}